#deletion-confirmer {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  height: 10rem;
  background-color: #F4ECD6;
  border: 1px solid #310a31;
  text-align: center;
}

.yes-no {
  font-size: 2rem;
  width: 5rem;
  margin: 0 1rem;
}

@media screen and (orientation: portrait) {
  #deletion-confirmer {
    width: 50%;
  }
}