#switch {
  display: none;
}

#switch + label {
  position: relative;
  display: block;
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #310a31;
  cursor: pointer;
}

#switch + label > #slider {
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin: 0.25rem;
  background-color: #F4ECD6;
  transition: ease-out 200ms;
}

#switch:checked + label > #slider {
  transform: translateX(2.5rem);
}