.subtask-container {
  margin: 0.5rem 3rem;
  font-size: 1.3rem;
}

input.subtask {
  display: none;
}

input.subtask + label {
  cursor: pointer;
}

input.subtask:checked + label {
  text-decoration: line-through;
  opacity: 50%;
}