#task-list-container {
  position: relative;
  width: 50%;
  margin: auto;
  min-width: 300px;
  background-color: #F4ECD6;
  border: 6px solid #847996;
  border-radius: 16px;
  height: calc(100vh - 7rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: #F4ECD6;
  margin: 0;
}

#top-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}

#task-maker-btn {
  width: 40%;
  height: 3rem;
  font-size: 1.25rem;
}

#quick-add-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6C91C2;
  width: 55%;
  height: 3rem;
  border-radius: 1.5rem;
}

#quick-add-form > input {
  border: none;
  outline: none;
  background: none;
  width: calc(100% - 3rem);
  height: 2rem;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

#quick-add-form > button {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.25rem;
  border-radius: 50%;
}

#remember-container {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

@media screen and (orientation: portrait) {
  #task-list-container {
    width: 95%;
  }
  
  #task-maker-btn,
  #quick-add-form > input {
    font-size: 0.9rem;
  }
}