#task-maker {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: 300px;
  background-color: #F4ECD6;
  border: 1px solid #310a31;
}

#top-bar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  background-color: #310a31;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  font-size: 2rem;
}

#close-button {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

#task-maker-form {
  height: calc(300px - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#task-name {
  width: 95%;
  height: 4.5rem;
  text-align: center;
  font-size: 2.5rem;
  background: none;
  outline: none;
  border: none;
}

#subtask-controls {
  background-color: white;
  width: 70%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#subtask-controls > input {
  background: none;
  border: none;
  outline: none;
  width: calc(100% - 1.3rem);
  height: 100%;
}

#subtask-controls > button {
  width: 2rem;
  height: 2rem;
}

#subtask-list {
  height: 130px;
  width: 60%;
  list-style-type: square;
  overflow: scroll;
}

#subtask-list > li {
  font-size: 1.4rem;
}

#create-task-btn {
  margin-bottom: 20px;
  width: 100px;
  height: 40px;
}

@media screen and (orientation: portrait) {
  #task-maker {
    width: 80%;
  }
}