@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

html {
  background-color: #310a31;
  font-size: clamp(12px, 1.1vw, 30px);
  font-family: 'Pangolin', cursive;
}

button {
  border: none;
  cursor: pointer;
}

button:active {
  border: #310a31 solid 0.2rem;
}

button:disabled {
  opacity: 50%;
}

.blue-btn {
  background-color: #6C91C2;
  border-radius: 1.5rem;
  box-sizing: content-box;
}

.blue-btn:hover {
  background-color: black;
  color: #F4ECD6;
}

.plus-btn {
  background-image: url('Icons/plus.png');
  background-size: contain;
}

.x-btn {
  background-image: url('Icons/x.png');
  background-size: contain;
}

.delete-btn {
  background-image: url('Icons/bin.png');
  background-size: contain;
}

.edit-btn {
  background-image: url('Icons/edit.png');
  background-size: contain;
}

.plus-btn:hover {
  background-image: url('Icons/plushover.png');
  background-size: contain;
}

.x-btn:hover {
  background-image: url('Icons/xhover.png');
  background-size: contain;
}

.delete-btn:hover {
  background-image: url('Icons/binhover.png');
  background-size: contain;
}

.edit-btn:hover {
  background-image: url('Icons/edithover.png');
  background-size: contain;
}